<!DOCTYPE html>
<html>
    <head>
         {% include "head.html" %}
    </head>
    <body>
        {% include "left.html" %}
        
        <div class="warp-content">
            {% block main_content %}
            <script type="text/javascript">
             $("#main").addClass("active");
            </script>
            {% include "main_content.html" %}
            {% endblock %}
            {% block footer %}
            {% include "foot.html" %}
            {% endblock %}
        </div>

    </body>
</html>
